/* basic settings */
*,
*::before,
*::after {
	/* ensures that padding is added to inside of elements */
	box-sizing: border-box;
	/* ensures that browser isn’t adding any default padding */
	margin: 0;
	padding: 0;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

html {
    height: 100%;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

body {
    // padding: 24px 24px 26px 24px; -> MIRO DEFAULT
    // padding: 0px 24px 26px 24px;
}

#root {
    height: 100% !important;
}


.MuiTabs-root {
    background: white;
    font-size: 0.875rem;
	line-height: 1.125rem;
	border-radius: 3px;
    margin-bottom: 16px;
}

.MuiTab-root {
    color: black !important;
    font-weight: 700 !important;
	text-transform: uppercase;
	text-align: center;
	font-family: sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
}

.MuiTabs-flexContainer {
    border-bottom: 2px solid #dee2e6;
}

.MuiTabs-indicator {
    background-color: black !important;
    height: 2px !important;
}

.swiper-button-prev {
    // offset(0);
    left: 0px !important;
    transform: scale(0.75);
}

.swiper-button-next {
    // offset(0);
    right: 0px !important;
    transform: scale(0.75);
}