.buttonStyle {
	font-size: 0.875rem;
	line-height: 1.125rem;
	border-radius: 3px;
	border: 1px solid transparent;
	font-weight: 700;
	text-transform: uppercase;
	padding: 8px 16px;
	text-align: center;
	background-color: #459fd8;
	color: #fff;
	font-family: sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	margin-top: 16px;
	margin-bottom: 4px;
	width: 100%;
}

.inputStyle {
	font-size: 0.875rem;
	line-height: 1.125rem;
	border-radius: 3px;
	border: 1px solid transparent;
	outline: 2px solid #459fd8;
	font-weight: 500;
	padding: 8px 16px;
	text-align: left;
	background-color: #fff;
	color: #000;
	font-family: sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	width: 100%;
};

.inputContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 8px;
	height: auto;
};

.h1Style {
	font-size: 1.8rem;
	font-weight: 700;
	font-family: sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	margin-top: 0px;
	padding-top: 0px;
};

.h3Style {
	font-size: 1.2rem;
	font-weight: 500;
	font-family: sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 8px;
};

.labelStyle {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 600;
};

.appContainer {
	margin-bottom: 42px;
};