.buttonStyle {
	font-size: 0.875rem;
	line-height: 1.125rem;
	border-radius: 3px;
	border: 1px solid transparent;
	font-weight: 700;
	text-transform: uppercase;
	padding: 8px 16px;
	text-align: center;
	background-color: #459fd8;
	color: #fff;
	font-family: sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	margin-top: 16px;
	margin-bottom: 4px;
	width: 100%;
}



.h1Style {
	font-size: 1.8rem;
	font-weight: 700;
	font-family: sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	margin-top: 0px;
	padding-top: 0px;
};

.h3Style {
	font-size: 1.2rem;
	font-weight: 500;
	font-family: sans-serif;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 8px;
};

.labelStyle {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 600;
};

@font-face {
	font-family: "Heebo-Regular";
	src: local("Heebo-Regular"),
	 url("./fonts/Heebo/Heebo-Regular.ttf") format("truetype");
	font-weight: medium;
}

@font-face {
	font-family: "Heebo-Bold";
	src: local("Heebo-Bold"),
	 url("./fonts/Heebo/Heebo-Bold.ttf") format("truetype");
	font-weight: bold;
}