.container {
    padding: 0 24px 24px 24px;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 16px;
}


.descriptionText {
    // font-family: 'Heebo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 16px;
}

.previewTitle {
    // font-family: 'Heebo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;    
    color: #000000;
    margin-bottom: 24px;
}

.formElementsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formElements {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formElementsText {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.formUploadImagesInputField {
    @media only screen and (max-width: 600px) {
        text-align: center;
        width: 100%;
    }
}

.formSection {
    display:flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 8px;
}

input[type="file"] {
    display: none;
}

.selectFieldContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.selectField {
    height: 38px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 8px 12px;
    transition: all 0.25s ease;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #000000;
}

.refreshButton {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    cursor: pointer;
    min-width: 38px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 0.25s ease;
    align-items: center;
    
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: transparent;
}